@{

}

<div class="main">
    <div class="mainContent">
        <h2>
            Red Squirrel Electrical Services - Contact
        </h2>
        <p>You can contact me on the below details:</p>
        <p>01788 578778 <br />07737 015780 
            <br/>    
            <a class="emailLink" href="mailto:mike.bunce@rses.co.uk">mike.bunce@rses.co.uk</a>
        </p>
    
    </div>
</div>
