
body {
    background-color: #ffffff;
    font-size: .85em;
    font-family: "Tahoma", Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

.pageWrapper {
    position: absolute;
    padding: 10px 0px 10px 0px;
    background-color: white;
    width: 750px;
}

a:link {
    color: #034af3;
    text-decoration: underline;
}

a:visited {
    color: #505abc;
}

a:hover {
    color: #1d60ff;
    text-decoration: none;
}

a:active {
    color: #12eb87;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
section {
    display: block;
    position: relative;
}

.logoImage {
    width: 78px;
    height: 87px;
    position: absolute;
    padding-top: 20px;
}

.rightImage {
    padding: 0px 0px 0px 15px;
    float: right;
}

#galleria {
    width: 400px;
    float: right;
    /*border: 1px solid #FF0000;*/
    padding: 10px;
    /*-webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;*/
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    /*padding: 0 0 10px 0;*/
}

h3 {
    font-size: 1.0em;
    
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

header, #header {
    
    color: #000;
    
}

header h1, #header h1 {
    font-weight: bold;
    padding: 0;
    margin: 0;
    color: #FF0000;
    border: none;
    line-height: 1.5em;
    font-size: 32px !important;
    text-shadow: 1px 1px 2px #111;
}

.mainTitle {
    position: absolute;
    left: 75px;
    right: 75px;
    margin: 12px 0px 0px 22px;
    height: 132px;
    width: 300px; 
}

.mainContent {
    
    padding: 10px;
    
    
    
    /*border: 1px solid #FF0000;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;*/
    font-size: 11px;
    float: left;
}

.contactDetails {
    padding-top: 10px;
    float: right;
    position: relative;
    font-size: 11px;
    z-index: 200;
}

.emailLink {
    
}
/*
#main {
    padding: 30px 0px 15px;
    border-radius: 4px 0 0 0;
    -webkit-border-radius: 4px 0 0 0;
    -moz-border-radius: 4px 0 0 0;
}

footer, 
#footer {
    color: #999;
    padding: 10px 0;
    text-align: center;
    line-height: normal;
    margin: 0 0 30px 0;
    font-size: .9em;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
}
*/
/* TAB MENU   
----------------------------------------------------------*/
ul#menu {
    border-bottom: 1px #FF0000 solid;
    padding: 85px 5px 0px;
    position: relative;
    margin: 0;
    text-align: left;
}

ul#menu li {
    display: inline;
    list-style: none;
    border-right: #FF0000 1px solid;
}

ul#menu li.lastItem {
    border-right: none;
} 

ul#menu li#greeting {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    color: #fff;
}

ul#menu li a {
    padding: 10px 20px;
    font-weight: bold;
    text-decoration: none;
    line-height: 2.8em;
    background-color: #fff;
    color: #000;
    
}

ul#menu li a:hover {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li a:active {
    background-color: #fff;
    text-decoration: none;
}

ul#menu li.selected a {
    background-color: #fff;
    color: #000;
}

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #ddd;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #e8eef4;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #e8eef4;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #e8eef4;
    border: solid 1px #e8eef4;
}

/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}

nav, 
#menucontainer {
    margin-top: 60px;
}

div#title {
    float: left;
    margin-top: -45px;
    position: relative;
    width: 100%;
}



/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #ff0000;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #ff0000;
    background-color: #ffeeee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #ff0000;
}

.validation-summary-valid {
    display: none;
}

/* Styles for editor and display helpers
----------------------------------------------------------*/
.display-label, 
.editor-label {
    margin: 1em 0 0 0;
}

.display-field, 
.editor-field {
    margin: 0.5em 0 0 0;
}

.text-box {
    width: 30em;
}

.text-box.multi-line {
    height: 6.5em;
}

.tri-state {
    width: 6em;
}
