
<script>
    Galleria.loadTheme('Content/themes/classic/galleria.classic.min.js');
    Galleria.run('#galleria');
</script>

<div class="main">
    <div class="mainContent">
        <h2>
            Red Squirrel Electrical Services
        </h2>
        <p>
            All Domestic Electrical work Carried out.
        </p>
        <ul>
            <li>New circuits</li>
            <li>Fault finding and repairs</li>
            <li>Inspection and testing</li>
            <li>Full house rewire</li>
            <li>New Consumer Unit</li>
            <li>Supplies for conservatories and outbuildings</li>
            <li>Replacement fixtures and fittings</li>
            <li>Data and Telephone Wiring</li>
        </ul>
    </div>
     
   <div id="galleria">
   @*     <img src="/Content/Images/MeggerLogo.jpg" data-title="Megger" data-description="All work tested using Megger Multifunction Testers">*@
        <img src="/Content/Images/cu.jpg" data-title="Consumer Unit" data-description="Installation of Consumer Units">
        @*<img src="/Content/Images/trustmark.jpg" data-title="Consumer Unit" data-description="Installation of Consumer Units">*@
        <img src="/Content/Images/subcu.JPG" data-title="Consumer Unit" data-description="Installation of Consumer Units">
    </div>
        
</div>
